[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx-tabs = "==1.1.10"
sphinx-autobuild = "==2021.3.14"
livereload = "==2.6.3"
myst-parser = "==0.16.1"
sphinx-favicon = "==0.2"
furo = "==2022.3.4"
sphinxnotes-strike = "==1.0"

[dev-packages]
Sphinx = "*"

[requires]
python_version = "3.9"
